<!DOCTYPE html>
{% load static %}
{% load fontawesome_5 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
     <link rel="stylesheet" type="text/css" href="{% static 'products/bootstrap/css/bootstrap.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'products/bootstrap/js/bootstrap.bundle.js'%}">
    <title>{{ request.user }}</title>

</head>
<body style="background-color: #5CDB95;" onload="time">
  {% if user.is_authenticated %}

  {% block content %}


  <nav class="navbar navbar-expand-lg navbar-light  bg-light">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="/products" tabindex="-1" aria-disabled="true">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/create" tabindex="-1" aria-disabled="true">Add New Products</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="/user/profile" tabindex="-1" aria-disabled="true">My Profile</a>
            </li>

        </ul>

        <form class="form-inline my-1 my-lg-0">
            <button class="btn btn-outline-danger my-1 my-sm-0" type="submit">
                 <a class="nav-link" href="{% url 'logout' %}">Logout</a></button>
        </form>
    </div>
</nav>


  {% endblock %}
  {% else %}
  <p> You are logged out
    <a href="/login/"> Login Here </a>
  </p>
  {% endif %}


<script>

    function time(){
    var myDate = new Date();
    var myHour = myDate.getHours();
    var time;

    if (myHour>12 && myHour<=17){
    time = 'Afternoon';
    }
    else if (myHour<12 && myHour<=23){
       time = 'Morning';
    }
    else
    time = 'Evening';
       alert('Good ' + time + ' dear' );
    }

   time();
</script>

</body>
</html>