
<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load fontawesome_5 %}
{% load static %}

<html lang="en">
<head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'products/bootstrap/css/bootstrap.css' %}">
    <script href="{% static 'products/bootstrap/js/jquery/bootstrap.modal.forms.js'%}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'products/bootstrap/js/bootstrap.bundle.js'%}">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">


<style>
    .form{
    margin: auto;
    width: 400px;
    background-color: grey;
    padding: 20px 30px 20px 30px;
    margin-top: 50px;
    height: 100%;
    color: white;
    }
</style>
<body>

  <form method="post" class="form" autocomplete="off">
             {% csrf_token %}
             <div class="form-group">
            {{ form|crispy }}

       <p><small> Need An Account?<a href="/signup/" class="text-success"> Create Account</a></small></p>
                 <p><small>Forgot Password? <a href="/password_reset">Reset Here</a></small></p>

                 <button class="btn btn-info btn-block">Login</button>
             </div>

        </form>

</body>
</html>