<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'products/bootstrap/css/bootstrap.css' %}">
    <title>Password_change</title>
</head>
<body class="container">
<header class="lead text-primary" style="padding-top: 30px;">
    Choose New Password
</header>
<br>
<form method="post">
    {% csrf_token %}
    {{form|crispy}}

    <input type="submit" value="Send" class="btn btn-success">
</form>

</body>
</html>