<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'products/bootstrap/css/bootstrap.css' %}">
    <title>Reset Password</title>
</head>
<body>

{% block content %}
<div class="container" style="padding-top:30px;">
     <h3 class="text-info">Reset Password</h3>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}

    <input type="submit" value="Reset my password" class="btn btn-success" />
  </form>

</div>

{% endblock %}

</body>
</html>