<!DOCTYPE html>
{% extends 'base.html' %}

<html lang="en">
<head>
    {% block content %}
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

    .well{
  		color: rgb(35 30 35);
  		background-color: #53900f;
  		text-align: center;
  		padding: 0.4px;
  		padding-top: 10px;
  		padding-right: auto;

  	}
  	.mid{
  	    background-color: olive;
  	}
        .bod{
        background-color: rgba(0,0,0,.5);
  		background-size: 700px;
  		 margin:100px;
  		 font-family: san serif;
  		 padding: 10px 10px;
  		 overflow-x: hidden;
  		 margin-right: 400px;
  		 margin-left: 300px;
  		 width: 600px;
  		 color: white;
  		 text-align: center;
         position: auto;
  	}

    </style>


</head>
<body class="mid">
<div class="well">
<div class="container">
<h2>CREATE AN ACCOUNT</h2>
    </div>
    </div>
<br>
<!--<div class="container">-->
<div class="bod">
    <form method="post" action="">
<div class="check">

</div>
        {% csrf_token %}
        {{ form.as_p}}

         <label><small class="text-info"> Remember Me </small>
        <input type="checkbox" value="submit">
            </label>
        <br>

    <input type="reset" value="Reset" class="btn btn-danger">
    <input type="submit" value="Submit" class="btn btn-primary">
    </form>
    <!--</div>-->
    </div>

<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/about">Know About Us</a>
          </li>
          <li>
            <a href="/contact">Contact Us</a>
          </li>
          <li>
            <a href="#!">Very long link 3</a>
          </li>
          <li>
            <a href="#!">Very long link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="/#"> sellit.com</a>
  </div>
  <!-- Copyright -->

</footer>
 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>-->
    <script>
            console.log(alert(' Welcome \n Pls. fill details correctly'));
</script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
</body>
{% endblock %}
</html>