<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    {% block content %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
    <link type="text/css" rel="stylesheet" href="{% static 'products/bootstrap/css/bootstrap.css' %}">
    <title>Title</title>
    <style>
       h3, p.n-h6 {
        font-family:'nunito sans', sans-serif;
        font-size:18px;
        margin: 0 auto; top: 0px; width: 500px; padding: 15px 15px 15px 15px;

  	}

    </style>
</head>
<body>
    <div class="container">
    <h3 style="font-size: 30px;"><b class="text-info"> Add Product </b></h3>
        <br>

    {% if user.is_authenticated %}

   {% if messages %}
  {% for msg in messages %}
    <div class="alert alert-info alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{msg.message}}
    </div>
  {% endfor %}
{% endif %}
<br>
    <div style="margin: 0 auto; top: 0px; width: 500px; padding: 15px 15px 15px 15px; background-color: grey;">

<form action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
    {{form|crispy}}


    <input type="reset" value="Reset" class="btn btn-primary">
    <input type="submit" value="Submit" class="btn btn-success">
</form>
        </div>
    <br>
    <br>

    {% else %}
    <p class="n-h6">
        You must login before adding any product<br>
        <a href="/login">Login Account</a> Or <a href="/signup">Create An Account</a>
    </p>

    <br>
    {% endif %}
         </div>

</body>
{% endblock %}
</html>